<!-- banner start -->

<div class="banner">
  <div id="carousel-example-generic"> 
    <!-- Indicators
    <ol class="carousel-indicators">
      <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-generic" data-slide-to="1"></li>
      <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol>
    -->
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active"> <img src="/images/couple-banner.jpg" alt="Couple signing property division.">
        <div class="carousel-caption form-box col-lg-4 col-md-5">
          <div class="sidebar-blk bnr-donate-box">
            <div class="you-help ">
              <h1>Get Help Now</h1>
              <h2><a href="/contact/vietnamese-translation-available/">Vietnamese Translation Available<a/></h2>
              <p>Contact my office for a free initial consultation with a certified Santa Ana family law attorney.</p>
            </div>
            <form class="" role="form" method="POST" action="/contact/#contact-form-main">
              <div class="form-group">
                <input type="email" class="form-control" id="email" name="email" placeholder="Your Email">
                <button type="submit" class="btn btn-default btn-block btn-yellow">Get Started</button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <!---
      <div class="item"> <img src="images/bnr-4.jpg" alt="Charity">
        <div class="carousel-caption col-md-3">
          <h1>GIVE YOUR <br>
            HELPING HAND <br>
            TO THOSE <br>
            WHO NEED IT! </h1>
          <p>Many desktop publishing packages <br>
            and web page editors now <br>
            use Lorem Ipsum as uncover . </p>
          <a href="#" class="btn btn-default btn-yellow">Donate vie paypal</a> <a href="#" class="btn btn-default btn-yellow">Learn more</a> </div>
      </div>
      --->
    </div>
    <!-- Controls
    <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev"> <span class="glyphicon glyphicon-chevron-left"></span> </a> <a class="right carousel-control" href="#carousel-example-generic" data-slide="next"> <span class="glyphicon glyphicon-chevron-right"></span> </a> </div>
    --> 
</div>
<!-- banner close -->
