<div class="main-container"><!--  Main-container start -->
  <div class="container"><!-- contact-detail start -->
	<div class="contact-detail">
		<div class="row">
		<div class="col-md-6">
			<div class="row">
			<div class="col-md-12">
				<h1>Contact A Divorce Attorney Serving Westminster And Santa Ana | Chúng Tôi Nói Tiếng Việt</h1>
				<p class="lead-font">Contact my office for a free initial consultation with a Santa Ana family law attorney. I can answer your questions about divorce and other essential family law matters. Vietnamese translation is available. Evening appointments are available.</p>
			</div>
			</div>
			<hr>
			<div class="row">
				<div class="col-md-12 kindness">
				<h2>Paul T. Minerich Attorney at Law </h2>
				<ul class="list-style">
					<li>940 West 17th Street, Suite D<br/>Santa Ana, CA 92706</li>
					<li><i class="fa fa-phone-square"></i> 800-578-4737 (Toll Free)</li>
					<li><i class="fa fa-fax"></i> 714-571-0678 </li>
					<!-- http://www.wbwip.com/wbw/emailencoder.html -->
					<li><i class="fa fa-envelope"></i> <a href="mailto:&#105;&#110;&#102;&#111;&#064;&#112;&#097;&#117;&#108;&#109;&#105;&#110;&#101;&#114;&#105;&#099;&#104;&#108;&#097;&#119;&#046;&#099;&#111;&#109;">&#105;&#110;&#102;&#111;&#064;&#112;&#097;&#117;&#108;&#109;&#105;&#110;&#101;&#114;&#105;&#099;&#104;&#108;&#097;&#119;&#046;&#099;&#111;&#109;</a></li>
				</ul>
				</div>
			</div>
		</div>
		<div class="col-md-6"> <!-- sidebar blk start -->
			<div class=" sidebar-blk temp-form">
			<h1>Contact Us Now</h1>
				<div id="thank">
					<div class='alert alert-success' role='alert'> Thank you! Your message has been successfully sent. We will contact you very soon! </div>
				</div>
				
			<!-- form close --> 
			
			</div>
		</div>
		<!-- sidebar blk close --> 
		</div>
	</div>
  </div>
  
</div>
<!--  Main-container close --> 