<div class="main-container"><!--  Main-container section -->

	<div class="container">
        <div class="row"> 
            <div class="col-md-12">
            	<h1>Privacy</h1>
				<p class="lead-font">This privacy policy applies to information collected online  from users of this website. In this policy, you can learn what kind of  information we collect, when and how we might use that information, how we  protect the information, and the choices you have with respect to your personal  information.</p>

				<p>Effective February 1, 2015</p>

            </div>
    	</div> <!-- How you can help box close -->
     </div>
   </div>

</div><!--  Main-containre section ending-->





