<div class="main-container"><!-- Main-container start --> 
	<div class="container">
    	<div class="row error text-center">
        	<div class="col-md-6">
            	<img src="/images/404.png" class="img-responsive" alt="">
            </div>
            <div class="col-md-6 error-ct">
                <h1>{{message}}</h1>
				<h2>{{error.status}}</h2>
				<pre>{{error.stack}}</pre>
            </div>
        </div>
    </div>	
</div> <!-- Main-container close --> 