<div class=""><!--  Main-container section -->
  <div class="causes">
    <div class="container">
      <div class="row">

        <!-- detail start -->
        <div class="col-md-8">
          <!-- <div class="pic"> <img src="images/donet-pic.jpg" class="img-responsive" alt=""> </div> -->
          <h1>Family Residence</h1>
          <div class="meta"> <span class="causes-date"><a href="#"> 21 MAR 2015 </a></span> </div>
          {{> iAmPaul}}

          <p>Dividing the family home in a divorce case can be relatively simple, or it raises many difficult issues.  Whenever I need an example of a property division issue that arises in a divorce case, the family home can usually be used as an example.</p>

          <div class="row">
            <div class="col-md-12">
              
              <h2>WHO CAN USE THE HOME DURING A SEPARATION:</h2>

              <p>Assume a date of separation has occurred ane the parties no longer intend to be married.  Do the parties have to live together or can they separate for their own mental/physical health?   If one moves out, how will their case be affected regarding division of property and custody?  The general answer is that the court expects things to change in a divorce and if one party moves out, that party will not be prejudiced.  If there are children, the move should be made, so that the moving parent is as close as possible to the children to better enable frequent and continuing contact.</p>

              <div class="video-container">
                <iframe src="https://www.youtube.com/embed/l7faFbEg7fI" frameborder="0" allowfullscreen></iframe>
              </div>

              <p>When one party moves out, other issues arise, including who will make the house payment, is the in-spouse liable to pay rent for use of the house.  The mortgage on the house may be a community debt, but the party using the house may be required to reimburse the community for the fair rental value of the use of the home.  That may be done by the in-spouse paying the mortgage, but if the rental value exceeds the mortgage, the in-spouse may be liable for additional reimbursement to the community.  On the other hand, if the out-spouse makes the entire payment, it may be considered as part of that parties overall obligation of child and spousal support, or that party may e entitled to be reimbursed for paying more than their share of a community debt.</p>

              <p>A party can be involuntarily removed from the house upon a showing of domestic violence involving physical or emotional harm to the other party and/or the children.

              <h2>IS THE HOUSE COMMUNITY OR SEPARATE PROPERTY, OR SOME OF BOTH:</h2>

              <p>The issue of how to characterize the property depends on when it was acquired, whether it was acquired by purchase or inheritance, what money was used to pay the purchase price, and how title is held.  While there is a presumption that property acquired during marriage is community, if the source of funds used to purchase was entirely separate property, the property may be separate.  On the other hand, if separate funds were used to buy, the property may have been transmuted and title changed from separate to community along the way, perhaps during a refinance.</p>


              <h2>REIMBURSEMENTS:</h2>

              <p>If one party uses separate property to pay the purchase price or make improvements on a community residence, or the separate residence of the other party, that party may be entitled to be reimbursed for their contributions.  The same is true if a party with a separate property residence transmutes title from separate to community during marriage.  The transmuting party maybe entitled to be reimbursed for the equity value of the property as of the day they made the transmutation.  If the community makes payments toward the purchase price of a separate residence the community may have acquired an interest in the equity of that separate property and be entitled to reimbursement for the purchase price payments made.</p>


              <h2>DURING THE DIVORCE, SHOULD TITLE BE CHANGED:</h2>

              <p>If title to the home is in joint tenancy, the surviving joint tenant would receive full title in the event of death of the other joint tenant.  This may not be a desired result of a divorcing couple.  Title can be changed to avoid this result if certain rules are followed.</p>


              <h2>HOW SHOULD THE HOUSE BE DIVIDED:</h2>

              <p>One option is to sell and divide the sale proceeds.  Another is for one spouse to buy-out the interest of the other.  This may require a refinance or loan from a family member.  Another option is to keep the house for the benefit of the kids and their stability.  Each of those choices has practical, tax and personal consequences that must be evaluated.</p>


              {{> furtherHelp}}

            </div>
          </div>
        </div>
        <!-- detail close -->

        {{> contactRightSideBar}}

      </div>
    </div>
  </div>
</div>
<!--  Main-container section ending--> 
