

<!-- Service start -->
<div class="service" id="specializations">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1>Effective June, 2016</h1>
        <p class="lead-font">I have taken a position as Commissioner of the Orange County Superior Court and have closed my private practice.  If you are a former client and need assistance, please contact me by email at: paul@paulminerichlaw.com.</p>
      </div>
    </div>
  </div>
</div>
<!-- Service close --> 

