<div class=""><!--  Main-container section -->
  <div class="causes">
    <div class="container">
      <div class="row">

        <!-- detail start -->
        <div class="col-md-8">
          <!-- <div class="pic"> <img src="images/donet-pic.jpg" class="img-responsive" alt=""> </div> -->
          <h1>Pensions</h1>
          <div class="meta"> <span class="causes-date"><a href="#"> 21 MAR 2015 </a></span> </div>
          {{> iAmPaul}}

          <div class="row">
            <div class="col-md-12">
              <p>The agreement can do a number of important things regardingsproperty and support, including but not limited to the following.</p>
              
              <p>A pension plan may be the most valuable asset of the marital estate, even if the working spouse has not retired. Understanding the pension is important in both dividing the assets of the marriage and in determining child and spousal support.</p>

              <div class="video-container">
                <iframe src="https://www.youtube.com/embed/kDjNFzuOLdE" frameborder="0" allowfullscreen></iframe>
              </div>
              
              <p>The community property portion of the pension is divided equally in a divorce.  The separate property portion is awarded to the working spouse.  Many times the parties will have both separate and community interests in the plan, either because the working spouse was employed before marriage and/or after separation.  For that reason it is important to have a basic understanding of how community and separate interests are determined and how plans are divided.</p>
              
              <p>There are two basic types of plans: defined benefit and defined contribution plans.  A defined benefit plan is what most people think of as a pension plan.  It is the type that pays a monthly benefit for the life of the retiree after retirement.  A defined contribution plan is basically a savings account into which the employee and/or the employer contributes.  A 401K, 403B, 457, deferred compensation, or profit sharing plan are examples of defined contribution plans.  There may also be other employment related benefits such as a stock ownership plan which is not discussed in this article.</p>
              
              <p>Pension plans are generally divided by use of a Qualified Domestic Relations Order, QDRO for short.  That phrase is used in a federal law called the Employee Retirement Income Security Act, ERISA for short.  That federal law controls most private defined benefit and defined contribution pension plans.  Basically, ERISA provides that the state court cannot divide an ERISA controlled pension plan except by a QDRO.  Federal law controls and so state courts must issue QDRO’s.  A DRO, or Domestic Relations Order is a court order to divide a non ERISA plan, such as a local or state government plan. </p>
              
              <h2>DEFINED CONTRIBUTION PLANS:</h2>

              <p>The issue comes down to determining the community and separate values to the plan.  Difficulty can arise when plans are transferred from employer to employer, or where there is a long separation during which the employee continues to make contributions.  The separate property portion is what was in the plan as of time of marriage and what has been put into the plan after date of separation, plus earnings or losses from fluctuation of the investments the plan holds.  The separate property portion is the property of the worker and not divided. The community property portion is the part that is divided equally.</p>
              
              <p>For example, lets say that the employee was working prior to marriage and contributing to a 401K Plan.  The parties marry for a period of time and then “separate” no longer intending to be married.  After their separation, the working spouse continues to make contributions into the plan.  The court, or the parties by settlement, must determine what the value of the plan was as of the day of marriage and what the current value of that balance is as of the time the plan is divided.  Funds are usually invested and the value is going up/down based on the investment.  The parties must go back and get records of the historical return on the investment.  Once you have that you can determine how much of the present day value is attributable to the pre marriage contributions, the marital contributions and the post marital contributions.</p>

              <p>The plans themselves are often not willing to do the calculations.  Sometimes an accountant is necessary to help.</p>

              <p>Once you have the separate and community values or percentages, a Judgment, QDRO, or DRO can be drafted telling the plan how to divide the existing account.  Generally speaking the non-employee’s portion is separated into an account in his/her name or rolled over into a separate tax deferred account/ira in their name.  No tax consequences occur if done properly and pursuant to a divorce decree.  Future withdrawals would be subject to tax and possibly penalties.</p>

              <p>Same above issues apply to an IRA, SEP IRA, Simple IRA, but those are not employer provided plans and no special QDRO or DRO is needed, a divorce judgment only will be needed to divide the asset.</p>

              <h2>DEFINED BENEFIT PLAN:</h2>

              <p>This type of plan was common but is now rare in private industry as it is expensive to fund.  There are still some union pensions like Teamsters and United Food Workers, but defined benefit plans are usually governmental plans for state, county, federal workers and military.  Some of these plans are Cal PERS (California Public Employees Retirement System), Cal STRS (California State Teachers Retirement System), LACERA (Los Angeles County Employees Retirement Association), OCERS (Orange County Employees Retirement System), CSRS (Civil Service Retirement System), FERS (Federal Employees Retirement System), and military plans.  They may be accompanied by some type of defined contribution plan as well.</p>

              <p>If the employee is already retired, it is a matter of determining what share of the current payment is community property and what share is separate property.  The community and separate interests are determined by the  “time rule formula”. This formula involves a fraction the numerator of which is the years of marriage while the employee  is employed and the denominator is the total years the employee has in the plan at retirement.  This fraction is multiplied by the retirement benefit.  The result is the community share which is awarded one-half to each party.  The remaining portion is the employees separate share.</p>

              <p>A problem can arise when there is a gap between date of separation and division of pension if a retiree has not been sharing the pension payments already received with the spouse. An arrearage can arise for those months/years of non payment which amount may be large.</p>

              <p>A defined benefit plan may also be divide by awarding the entire plan to employee and awarding a cash buyout or some other asset to non employee.  This requires an actuary to determine the present day lump sum value of the community share of the pension benefit.  The actuary uses the amount of expected benefit, mortality tables to determine life expectancy of the employee, and a “discount rate” which is a percentage of investment return on the lump sum. An actuary can then translate the future retirement benefit expected for the lifetime of the employee to a current specific lump sum.  That amount can be quite high.  The tax consequences of the division should be considered when trying to settle along these lines as the pension payments are taxable when received and the other property being used to equalize may not be.  The court at a trial can only consider “immediate and specific” tax consequences, but that doesn’t stop the parties from considering tax consequences when settling.</p>

              <p>The above-described method of division is not used frequently because one never knows what the future may bring and the employee keeping the plan may never live to see the benefit. In the meantime the employee may have traded cash or the equity in a house for the pension and never be able to enjoy their share of the pension traded away.</p>

              <p>The more common method of division for a retired employee or one not yet retired is a division in kind using the time rule formula. Both parties share the risks more equally when the pension payments are shared based on the community and separate interests each has.</p>

              <p> Defined benefit plans contain a further layer of issues because there are often choices that must be made upon retirement as to how the pension will be paid, namely, amortized over the life of the retired worker only, or will the benefit be spread out over the life of the worker and another beneficiary such as a former spouse or current spouse (which means that the worker may receive less during his/her life to allow the plan to pay a benefit to another party).</p>

              <p>The plan itself may joined to the divorce as a party.  When the employee retires the other party will be paid directly from the plan.  Each party is taxed on the amount they receive.  Some plans allow the non-employee spouse or “alternate payee” to receive their share amortized over their lifetime.  That way, even if the employee dies, the other party still gets a monthly benefit.</p>

              <h2>GILMORE ELECTION:</h2>

              <p>The non-employee may make a Gilmore election.  Gilmore is a California case that basically says that an alternate payee does not have to wait until the employee retires before the alternate payee is entitled to get their share of the plan.</p>

              <p>If the employee is eligible to retire, the alternate payee can make this election and the employee must pay the amount the alternate payee is due out of their own pocket until the employee retires.  The advantage to the alternate payee  is that they get their money as soon as the plan will allow, but that amount is determined as of that election date and alternate payee does not share in future increases attributable to employees longevity or higher wages. The disadvantage is that the employee must pay the benefit out of their own pocket until they retire.</p>

              <p>Double dipping may occur regarding a pension where the pension is awarded to one spouse with another asset of equal value to the other spouse, but then the pension income is used as a basis for spousal support or a modification of spousal support because of increased income (pension) after retirement.  There is a split of authority in California over whether that is proper.</p>

              {{> furtherHelp}}

            </div>
          </div>
        </div>
        <!-- detail close -->

        {{> contactRightSideBar}}

      </div>
    </div>
  </div>
</div>
<!--  Main-container section ending--> 
