<div class=""><!--  Main-container section -->
  <div class="causes">
    <div class="container">
      <div class="row">

        <!-- detail start -->
        <div class="col-md-8">
          <!-- <div class="pic"> <img src="images/donet-pic.jpg" class="img-responsive" alt=""> </div> -->
          <h1>Premarital Agreements</h1>
          <div class="meta"> <span class="causes-date"><a href="#"> 09 MAR 2015 </a></span> </div>
          {{> iAmPaul}}

          <p>In general, a premarital agreement is a written contract between parties that defines what is community property and separate property in a marriage and often defines what the rights and obligations are between parties regarding spousal support or alimony.  The premarital agreement applies in divorce and at death.</p>

          <div class="row">
            <div class="col-md-12">
              <h2>WHAT IS A PREMARITAL AGREEMENT.</h2>

              <div class="video-container">
                <iframe src="https://www.youtube.com/embed/M0MGrIk7Tbk" frameborder="0" allowfullscreen></iframe>
              </div>

              <p>The agreement can do a number of important things regardingsproperty and support, including but not limited to the following.</p>
              <div class="color-blk we-do">
                <ul class="list-style">
                  <li><i class="fa fa-angle-double-right"></i> Define what will be community and/or separate property.</li>
                  <li><i class="fa fa-angle-double-right"></i> Address problems of reimbursement and apportionment between community and separate property.</li>
                  <li><i class="fa fa-angle-double-right"></i> Address problems of valuation of assets, including businesses.</li>
                  <li><i class="fa fa-angle-double-right"></i> Define whether earnings during marriage will be treated as community or separate property.</li>
                  <li><i class="fa fa-angle-double-right"></i> Address who will pay expenses incurred during marriage for household living expenses.</li>
                  <li><i class="fa fa-angle-double-right"></i> Help insure that a party will be entitled to a certain amount of money or property in the event of a divorce.</li>
                  <li><i class="fa fa-angle-double-right"></i> Waive or define each parties rights and obligations regarding the payment of spousal support upon a divorce, subjectsto certain restrictions in our law.</li>
                </ul>
              </div>
              <p>The agreement cannot limit child support, cannot promote divorce, and cannot violate public policy.</p>

              <h2>IS IT A GOOD IDEA TO HAVE A PREMARITAL AGREEMENT.</h2>
              <p>Some would say that having such an agreement is a good idea as it is simply good planning. Some would say that it is not a good idea as it is divisive and forecasts a doomed marriage.</p>
              
              <p>From an attorney’s perspective, at least talking about such an agreement is a good idea because it gets the parties to discuss very important aspects of marriage and death that they may otherwise ignore, and can result in greater predictability in the property and support related affairs of the marriage.  The answer is not as clear from a psychological perspective as the subject is often emotionally charged.  Ignoring the discussion may result in resentment by a party who is inclined to want an agreement and definitely at the very least results in a missed opportunity to learn something about the parties marital expectations.</p>

              <h2>HOW TO TALK WITH YOUR FIANCÉ ABOUT A PREMARITAL AGREEMENT:</h2>

              <p>How should you talk to your fiancee about a premarital agreement?  First of all, discuss it before you get engaged, or very shortly thereafter.  Get it over with so that you can go on with the even more daunting task of planning the wedding.  Both parties have a right to know what they are committing to and what the expectations of the other party is.  If you can’t have that discussion, it may be an omen of inability to discuss other important topics during marriage.  It should be done in the same way as you would discuss having a family, or what your career and living goals are.   It is probably best not to blame Mom, Dad or Grandpa for requiring that you have an agreement.  Make it your own decision.</p>

              <p>The agreement can and should be fair to both sides.  For example, if one spouse wants to quit work to raise the kids, that spouse may want to make sure they have some assets and support in exchange for their commitment.  The agreement can provide for that.  The agreement can require for the maintenance of life insurance and for certain provisions to be made in a will.  The agreement can even contain sunset provisions stating that after a certain time or the happening of an event that certain provisions or the entire agreement will be void.</p>

              <p>One approach may be to agree not do have such an agreement at all.  The issue may be too divisive and may result in calling off the marriage because of the veil of distrust that the subject creates.  Our law has plenty of rules that define community and separate property and those laws are generally based on fairness and generally recognized concepts of realized expectations.</p>

              <p>Because California is a “no fault” state, the issue of who is causing the divorce will usually be irrelevant to the division of community property.  The issue of spousal support is determined based on an analysis of various factors outlined in our Family Code which bear upon how much and for how long spousal support should be paid, if at all.  Also, just because you get married doesn’t necessarily mean that any separate property you had prior to marriage, or receive by a gift or inheritance during marriage will not still be your property upon a divorce.  The problem is one of decreased predictability of what will be community and separate property on a divorce of death.  Unless you are a lawyer, it may be difficult to determine what effect conduct during marriage will have on the characterization of property.  A premarital agreement would eliminate or decrease that unpredictability.</p>

              <p>Keep in mind that without a premarital agreement, it is not possible to keep certain assets from being community, like wages earned during marriage, pension contributions made during marriage to a defined contribution plan, pension credits earned during marriage to a defined benefit plan, and payments paid with earnings during marriage to the other parties mortgage.</p>

              <p>The best approach to requesting an agreement is to suggest that you already have one in the existing law of California that will tell you what you will each get on divorce or death.  The value of a custom agreement is to make the agreement specific to your particular needs and situation as opposed to resigning yourself to a generic law imposed outcome.  It is simply good planning, like having life insurance now, although you have no intention of dying anytime soon.</p>

              <h2>IT CAN BE FAIR TO BOTH SIDES:</h2>

              <p>It should be emphasized that a premarital agreement does not mean that it will necessarily be unfair or favor one side or the other.  A good agreement can insure that both sides get what they expect from the marriage.  Like any good contract, it should be able to be relied on when the parties may not be as cooperative with one another as they are when it was made.</p>

              <p>While the intent is that the agreement will result in certainty of property and/or spousal support at the time of a divorce and, therefore, less fees and costs, sometimes the opposite happens if the agreement is contested.  That is why it is important that each party have their own lawyer, that they negotiate the agreement in an unhurried manner, that they have the agreement explained to them, that they consider the pros and cons of the deal, and that they sign it freely, voluntarily and without intimidation or duress and with their eyes wide open.  Certain precautions can be taken to help insure all of the above.  Discussions among the parties with their lawyers prior to signing and a videotaped signing which includes a questioning of each party regarding the terms of the agreement may be helpful to decrease the likelihood of a successful challenge to the agreement.</p>

              {{> furtherHelp}}

            </div>
          </div>
        </div>
        <!-- detail close -->

        {{> contactRightSideBar}}

      </div>
    </div>
  </div>
</div>
<!--  Main-container section ending--> 
