<div class=""><!--  Main-container section -->
  <div class="causes">
    <div class="container">
      <div class="row">

        <!-- detail start -->
        <div class="col-md-8">
          <!-- <div class="pic"> <img src="images/donet-pic.jpg" class="img-responsive" alt=""> </div> -->
          <h1>Neu quy vi can giup do va thong dich, nhan vien van phong noi va doc duoc tieng Viet.</h1>
          
          <div class="row">
            <div class="col-md-12">
            <img src="/images/vietnamese-ad.png" width="100%" />
              <ul style="text-indent: -2000px;">
                <li>Đặc biệt chuyên lo về phân chia tài sản bao gồm: Cơ Sở Thương Mại, Bất Động Sản, Đầu Tư, Qũy Hưu Bổng, Phân Chia Hưu Trí cho cả Tư Nhân hoặc Chính Phủ (QDRO), Tiền hoặc Hậu Hôn Phối Khế Ước. </li>
                <li>Văn phòng chuyên lo về Luật Gia Đình. </li>
                <li>Nếu quý vị quyết định ly dị và có thắc mắc về thủ tục tiến hành, tôi có thể giúp quý vị.</li>

                <li>35 năm kinh nghiệm hành nghề ở Orange County, CA. 
                <li>Có bằng chuyên nghiệp về Luật Gia Đình, The State Bar of California Board of Legal Specialization. 
              <ul>
            </div>
          </div>
        </div>
        <!-- detail close -->

        {{> contactRightSideBar}}

      </div>
    </div>
  </div>
</div>
<!--  Main-container section ending--> 
