@charset "UTF-8";
/* CSS Document */


.carousel-caption {
	position: absolute;
	right: 15%;
	bottom:60px;
	left: 20%;
	z-index: 10;
	padding-top: 20px;
	padding-bottom: 20px;
	color: #fff;
	text-align: left;
	text-shadow: 0 0px 0px rgba(0, 0, 0, .0);
}
.carousel-caption h1 {
	color:#fff;
	font-family: 'Dosis', sans-serif;
	font-size: 32px;
	text-transform:uppercase;
	font-weight:600;
}
.sidebar-blk {
	padding:30px;
	margin-bottom:20px;
	border-radius: 4px;
	background-image:url(/images/bg-ptrn.jpg);
}
.carousel-caption p {
	color:#fff;
	font-family: 'Roboto', sans-serif;
	font-size:16px;
}